# Kamaete - Git Configuration
# This file is managed by Kamaete dotfiles system

[user]
	name = Angelo Cordon
	email = angelocordon@gmail.com

[core]
	pager = delta

[delta]
	side-by-side = true

[init]
	defaultBranch = main

[url "git@github.com:"]
	insteadOf = https://github.com
